body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.header {
  font-family: 'Tangerine', serif;
}

.logo {
  cursor: pointer;
  align-items: center;
}

.Typewriter__wrapper, .Typewriter__cursor{
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
